[submodule "./tflbackend"] 
  path = ./tflbackend 
  url = https://github.com/ismailisimba/tflback.git
[submodule "tflback"]
	path = tflback
	url = https://github.com/ismailisimba/tflback.git
[submodule "tflbackend"]
	path = tflbackend
	url = https://github.com/ismailisimba/tflback.git
